body{
    background-color: black;
    color: white;
    font-family: Montserrat, sans-serif;
    scrollbar-color: rbg(255, 176, 0);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover{
    color: orange;
}
li img{
    width: 24px;
    height: 24px;
    
    
}

p{
    color: gray;
    font-size: 16px;
}



.banner{
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 2fr ;
  column-gap: 5px;
  margin: 40px 0px;
  padding-left: 70px;
  max-width: 100%;
  font-size: 32px;
  column-gap: normal;
}
.banner h2{
    font-size: 28px;
}

b{
    color: rgb(255, 176, 0);
}

.banner img{
    max-width: 100%; 
    align-self: baseline;
    align-items: end;
}
img{
    max-width: 100%;
}

.fade-in-image, img{
    animation: fadeIn 10s;
    animation-delay: 2s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

.fade-in-image:hover{
    animation: fadeh 3s;
}

@keyframes fadeh {
    0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}


@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen (max-width: 600px) {
    .banner.column, .banner img{
        width: 100%
    }
}

button{
    background-color: rgb(255, 176, 0);
    opacity: 1;
    border-radius: 5px;
    box-shadow: none;
    height: 55px;
    width: 180px;
    padding-bottom: 18px 64px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
/*Animation Test Text Color */
@keyframes colors {
    from {color: rgb(255, 176, 0);} 
    to {color: white;}  
}


.text{
    color: rgb(255, 176, 0);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
    animation: colors 10s linear 0s infinite normal forwards;
}

.container-0{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr ;
    column-gap: 100px;
    margin: 40px 0px;
    padding-left: 70px;
    max-width: 100%;
    font-size: 32px;

}

.container-1{
    display: grid;
  align-items: center; 
  grid-template-columns: 1fr 2fr ;
  column-gap: 100px;
  margin: 40px 0px;
  padding-left: 70px;
  max-width: 100%;
  font-size: 26px;
}

.container-2{
  display: grid;
  align-items: center; 
  grid-template-columns: 2fr 1fr ;
  column-gap: 50px;
  margin: 40px 0px;
  padding-left: 70px;
  max-width: 100%;
  font-size: 32px;
}





.container-3{
    border: solid;
    border-color: rgb(255, 176, 0);
    border-width: 5px;
    border-radius: 10px;
   
}
.box{
    display: grid;
    align-items: center;
    grid-row: inherit;
  
}

.container-4{
    display: grid;
    align-items: center; 
    grid-template-columns: 2fr 1fr ;
    column-gap: 50px;
    margin: 40px 0px;
    
    max-width: 100%;
    font-size: 32px;
}

.orange-text{
    width: 100%;
    text-align: center;
    color: rgb(255, 176, 0);
}

.boxes{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin: auto;
    padding-left: 20px;
    max-width: 100%;
    font-size: 32px;
    max-width: fit-content;
}


.box h2{
    font-size: 20px;
    
}
.box p{
    font-size: 16px;
}



footer{
    align-items: baseline;
    background-color: #2f2f2f;
}

